html, body {
  margin: 0
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#sidebar {
  display: flex;
  justify-content: center;
  padding: 1em;
  order: 1;
  flex: 1;
}

.books {
  display: flex;
  flex-direction: column;
  padding: 1em;
  order: 2;
  flex: 4;
}

nav {
  display: flex;
  min-width: 100%;
  align-items: center;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

.active {
  color: green;
}

.book {
  display: flex;
  overflow: hidden;
  padding: 0 1em 0 0;
}

.book-content {
  padding: 0 1em;
}

.book img {
  width: 100%;
  height: auto;
}

.cover-image {
  max-width: 25%;
  overflow: hidden;
}
