@import 'https://fonts.googleapis.com/css?family=Raleway:300,700';

html, body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#sidebar {
  display: flex;
  justify-content: center;
  padding: 1em;
  order: 1;
  flex: 1;
}

.books {
  display: flex;
  flex-direction: column;
  /*padding: 1em;*/
  order: 2;
  flex: 4;
}

nav {
  background-color: #333333;
  color: white;
  display: flex;
  min-width: 100%;
  align-items: center;
  justify-content: space-around;
}

a, a:visited {
  color: #B5B5B5;
  text-decoration: none;
}


.book {
  display: flex;
  padding: 1em;
}

.book-content {
  padding: 0 1em;
}

.book img {
  width: 100%;
  height: auto;
}

.cover-image {
  max-width: 25%;
  overflow: hidden;
}

.active {
  color: green;
}

#search-bar {
  position: relative;
}

#dropdown {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.search-result {
  margin: .5em;
  color: white;
}
